@media (max-width: 1460px)

  .app-container
    max-width: 1200px
    margin: 20px auto

  .auth-page_container
    padding: 100px 0 160px

  .main-page_container
    padding: 15px 30px 20px 15px
    gap: 0 20px

    .loader
      padding-top: 350px

      &-grapes
        bottom: 40px
        left: 300px
      &-cheese
        top: 355px
        right: 345px
      &-orange
        top: 310px
        right: 470px
      &-apple
        top: 270px
        right: 520px
      &-burger
        top: 140px
        right: 245px

      &-fire
        top: 260px
        right: 480px

  .primary
    padding: 22px 20px 15px

    &-header

    &-footer
      gap: 0
      justify-content: space-between

    &-middle
      margin: 20px 0
      gap: 45px

      .discount
        padding: 15px 60px 31px 22px

    .food-nav
      &-item
        padding: 10px 15px 10px 15px

    .menu
      &-items
        display: grid
        grid-template-columns: repeat(3, minmax(185px, 1fr))
        grid-gap: 20px 35px
        height: 350px
        overflow: auto

  .title-container-main
    text-align: start
    margin-left: 20px
    margin-bottom: 5px

    h1
      font-weight: 800
      font-size: 40px
      line-height: 50px

    img
      margin-left: -115px
      margin-bottom: -5px

  .basket
    height: 739px

@media (max-width: 1366px)
  .app-container
    max-width: 1000px
    margin: 20px auto

    .auth-page_container
      padding: 65px 0 75px

      .leaf
        position: absolute
        top: 5px
        right: 15px
        width: 15%

      .grapes, .orange
        width: 20%

      .apple
        bottom: 0

      .auth-form
        max-width: 500px

      .title-container-auth
        h1
          max-width: 320px
          font-weight: 800
          font-size: 38px
          line-height: 60px
        img
          margin-left: -40px

    .main-page_container
      padding: 15px 0px 20px 25px
      gap: 0 35px

      .loader
        padding-top: 300px

        &-right
          width: 51%

        &-grapes
          bottom: 90px
          left: 220px

        &-cheese
          top: 290px
          right: 250px

        &-orange
          top: 240px
          right: 370px

        &-apple
          top: 200px
          right: 410px

        &-burger
          top: 75px
          right: 150px

        &-fire
          top: 210px
          right: 385px

    .discount
      display: none

    .apple
      bottom: 70px
      left: 50px

  .left_side-container
    justify-content: normal
    gap: 30px

    .deliver
      margin-top: 130px
      padding-top: 0
      >img
        top: -155px
      .deliver-info
        padding: 30px 12px 11px
        &_text
          margin-right: 82px

  .title-container-main
    text-align: start
    margin-left: 0px
    margin-bottom: 5px

    h1
      font-weight: 800
      font-size: 34px
      line-height: 40px

    img
      margin-left: -135px
      margin-bottom: 0px
      width: 15%

  .primary-header-tools .search-input
    &:focus
      width: 180px
      gap: 50px

  .food-nav
    &-text
      display: none

  .primary
    padding: 22px 45px 15px

    .primary-footer
      flex-direction: column-reverse

      .articles
        justify-content: space-around
        max-width: 627px
        display: flex
        flex-wrap: wrap
        margin-bottom: 25px

        &-top
          gap: 487px
          justify-content: space-between

        &-item
          gap: 25px

          &:nth-child(3)
            display: none

          &:nth-child(2)
            display: none

      .menu
        &-items
          grid-template-columns: repeat(3, 1fr)
          height: 214px
          gap: 15px 25px

    .basket
      height: 675px

@media (max-width: 1050px)

  .app-container
    max-width: 750px

    .auth-page_container
      padding: 55px 0 75px

      .title-container-auth
        h1
          font-size: 42px
          line-height: 58px
        img
          width: 7%
          margin-left: -50px

      .leaf
        width: 10%

      .grapes, .orange, .apple
        width: 15%

      .apple
        left: 0

    .main-page_container
      flex-direction: column

      .loader
        padding-top: 250px

        &-grapes
          bottom: 120px
          left: 90px

        &-cheese
          top: 240px
          right: 130px

        &-orange
          top: 195px
          right: 250px

        &-apple
          top: 155px
          right: 290px

        &-burger
          top: 25px
          right: 30px

        &-fire
          top: 150px
          right: 265px

      .left_side-container
        max-width: 690px
        flex-direction: row
        align-items: flex-start

      .deliver
        display: none

      .nav
        display: flex
        gap: 10px
        &-link
          width: 130px

          span
            margin-left: 15px

      .avatar
        display: flex
        align-items: center
        &-box
          margin: 0 15px 0 0
          width: 44px
          height: 44px
          padding: 2px
        &-name
          margin-left: 0

    .search
      display: none

    .title-container-main
      h1
        font-size: 26px
        line-height: 40px
      img
        margin-left: 5px
        margin-bottom: 0px
        width: 10%

    .exit-btn, .tools-basket-btn, .articles-btn
      width: 40px
      height: 40px

    .articles-item
      margin-top: 10px

      &-imgBox
        height: 50px
        width: 50px

      &-title
        max-width: 250px

    .primary
      padding: 20px 25px 15px
      max-width: 690px

      .basket
        height: 610px

      .menu-items
        height: 230px

@media (max-width: 800px)

  .app-container
    max-width: 600px

    .auth-page_container

      .title-container-auth
        h1
          font-size: 36px
          line-height: 48px
        img
          width: 8%
          margin-left: -60px

      .auth-form
        max-width: 400px
        padding: 50px 0 40px
        &_label
          max-width: 320px
        &_input
          max-width: 320px

    .main-page_container
      padding: 15px 0 20px
      max-width: 550px
      margin: 0 auto

      .loader

        &-title
          font-size: 48px
          line-height: 54px
          margin-bottom: 15px

        &-text
          line-height: 48px

        &-grapes
          bottom: 160px
          left: 40px

        &-cheese
          top: 235px
          right: 100px

        &-orange
          top: 205px
          right: 220px

        &-apple
          top: 170px
          right: 240px

        &-burger
          top: 20px
          right: 0px

        &-fire
          right: 232px

      .left_side-container
        flex-direction: row
        align-items: center
        margin-bottom: 20px
        justify-content: space-between

        .burger-menu
          display: block

        .nav
          display: none

      .title-container-main
        h1
          font-size: 24px
          line-height: 36px

      .primary
        max-width: 550px
        .primary-middle
          justify-content: center
          .food-nav
            max-width: 550px
            gap: 23px
            &-item
              padding: 5px 7px
              img
                width: 50px
                height: 55px

        .articles
          display: none
        .menu
          &-items
            grid-template-columns: repeat(2, 1fr)

        .basket
          height: 468px

@media (max-width: 650px)
  .app-container
    max-width: 420px

    .auth-page_container
      .title-container-auth
        max-width: 288px
        margin: 0 auto 18px

        h1
          font-size: 32px
          line-height: 44px
          max-width: 288px

      .auth-form
        max-width: 350px
        padding: 35px 0 20px

      .grapes
        width: 20%
        left: 5px

      .leaf
        width: 13%
        top: 8px

      .orange, .apple
        width: 20%

    .main-page_container
      padding: 15px 10px 20px

      .loader
        &-title
          font-size: 42px
          line-height: 48px

        &-text
          font-size: 22px
          line-height: 36px

        &-grapes
          width: 40%
          bottom: 240px
          left: 0

        &-cheese
          right: 45px

        &-orange
          top: 205px
          right: 155px

        &-apple
          top: 165px
          right: 180px

        &-burger
          right: -65px

        &-fire
          top: 170px
          right: 170px

      .left_side-container
        margin-bottom: 10px
        padding: 0 10px

      .burger-menu
        .burger-nav
          width: 400px
          height: 488px
          top: 70px
          right: 10px

      .primary
        .title-container-main
          h1
            max-width: 260px
          img
            margin-left: -135px
            margin-bottom: 5px
            width: 15%

        .primary-middle

          .food-nav
            gap: 10px

            &-item
              padding: 10px
              img
                width: 30px
                height: 30px
        .basket
          height: 488px
          width: 400px

@media (max-width: 450px)
  .app-container
    max-width: 350px

    .auth-page_container

      .title-container-auth
        max-width: 275px
        margin: 0 auto 18px

        h1
          font-size: 30px
          line-height: 42px
          max-width: 260px

        img
          position: absolute
          right: 70px
          width: 9%

      .auth-form
        width: 280px
        padding: 35px 15px 20px

        &_input
          width: 250px

        &_btn
          width: 150px

    .main-page_container
      .burger-menu
        .burger-nav
          width: 330px

      .loader
        padding-top: 200px

        &-title
          font-size: 36px
          line-height: 42px

        &-text
          font-size: 20px
          line-height: 32px

        &-grapes
          width: 35%
          bottom: 340px

        &-cheese
          top: 210px
          right: 30px

        &-orange
          top: 170px
          right: 95px

        &-apple
          top: 150px
          width: 15%
          right: 120px

        &-burger
          width: 50%
          top: 90px
          right: -10px

        &-fire
          top: 150px
          right: 110px

      .primary
        padding: 19px 10px 20px 15px

        &-header
          justify-content: space-around

          .title-container-main
            max-width: 160px
            display: block

            h1
              max-width: 160px

            img
              position: absolute
              margin-left: 0
              margin-bottom: 0
              top: 55px
              left: 150px
              width: 10%

        .primary-middle
          .food-nav
            gap: 5px
            &-item
              padding: 8px

        .tools-basket-btn
          margin-right: 10px

        .menu-top
          margin-left: 15px

        .menu-items
          grid-template-columns: 1fr

          .menu-item-info
            max-width: 270px
            margin: 0 auto

          .menu-item-reaction
            right: 30px

        .basket
          width: 330px
          padding: 26px 15px 34px 15px

          .basket-item-info-title
            font-size: 11px
            margin-right: 0

          .basket-item-info-text
            max-width: 120px

          .basket-item-info-amount
            margin-right: 13px

          .watch
            img
              width: 40%
