@import vars
.discount
	position: relative
	background: #AB97F3
	border-radius: $br-30
	padding: 18px 80px 31px 22px
	text-align: start
	&-title
		font-weight: 700
		font-size: 24px
		line-height: 27px
		color: $bright-white
	&-text
		font-weight: 600
		font-size: 14px
		line-height: 16px
		color: $bright-white
	&-fire
		margin-bottom: 39px
	&-burger
		position: absolute
		top: 0
		right: 0